.btn{
    margin-top: 20px;
    background-color: green;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.conteudo {
    text-align: center;
}
body{
    background-color: blue;
}
.barra{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: blueviolet;
}
.desktop{
    display: none;
}
.tablet{
    display: none;
}
.mobile{
    font-size: 50px;
    color: white;<div class="aba" id="aba1">Estou na Aba 1</div>
}
@media (min-width:800px){
    .barra{
        background-color: white;
    }
    .mobile{
        display: none;
    }
    .tablet {
        display: inline;
        font-size: 55px;
        color: black;
    }
    .btn{
        margin-top: 0%;
        width: 70px;
        font-size: 16px;
    }
}

@media(min-width:1228px){
    .barra{
        background-color: green;
        height: 120px;
    }
    .tablet{
        display: none;
    }

    .desktop{
        display: inline;
        font-size: 70px;
        color: darkred;
    }
    .conteudo{
        text-align: left;
    }
}